<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="../css/footer.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../js/footer.js"></script>
</head>
<footer class="flex-footer-menu footer-menu" aria-label="Main menu">
    <div class="footer-friend">
        <span>Friend Zone</span>
            <a href="find_friends.html" aria-label="London" tab-index="0">London</a>
            <a href="find_friends.html" aria-label="Toronto" tab-index="0">Toronto</a>
            <a href="find_friends.html" aria-label="Hamberg" tab-index="0">Hamberg</a>
            <a href="find_friends.html" aria-label="Brisbane" tab-index="0">Brisbane</a>
            <a href="find_friends.html" aria-label="Sydney" tab-index="0">Sydney</a>
    </div>
    <div class="footer-community">
        <span>Community</span>
            <a href="new-community.html" aria-label="my community" tab-index="0">My Comunity</a>
            <a href="new-community.html" aria-label="hot topics" tab-index="0">Hot Topics</a>
            <a href="new-community.html" aria-label="all topics" tab-index="0">All Topics</a>
    </div>
    <div class="footer-about">
        <span>About</span>
            <a href="new-community.html" aria-label="my community" tab-index="0">Contact Us</a>
            <a href="new-community.html" aria-label="hot topics" tab-index="0">About Us</a>
            <a href="new-community.html" aria-label="all topics" tab-index="0">FAQ</a>
    </div>
</footer>
</html>