<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Header</title>
	<link rel="stylesheet" href="../css/header.css">
</head>
<body>
	<nav>
		<img src="../../images/country/earth-globe_995153.png" alt="/" id="header-container-logo"
		     class="header-logo"/>
		<div id="header-container" class="header-container">
			<div id="header-container-grid-left" class="header-container-grid">
				<div id="header-container-find-friend" class="header-container-grid-item">
					<a href="../../find_friends.html" id="header-container-find-friend-label"
					   class="header-container-label"
					   aria-label="find friend">Find Friend</a>
				</div>
				<div id="header-container-community" class="header-container-grid-item">
					<a href="../../community.html" id="header-container-community-label" class="header-container-label"
					   aria-label="community">Community</a>
				</div>
			</div>
			<div id="header-container-grid-right" class="header-container-grid">
				<div id="header-container-login" class="header-container-grid-item">
					<a href="../../community.html" id="header-container-login-label" class="header-container-label"
					   aria-label="login">Login</a>
				</div>
				<div id="header-container-language" class="header-container-grid-item">
					<a id="header-container-language-label" class="header-container-label"
					   aria-label="language">Lang</a>
				</div>
			</div>
		</div>
	</nav>
</body>
</html>