/* base styles */
html, body{
    margin: 0;
    padding: 0;
}

.nav-link{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Mobile-first: These rules apply by default */
.flex-header-menu{
    display: none;  /*hide the header*/
}

.flex-side-menu{
    display: none;  /*hide the side menu*/
}

.flex-footer-menu{
    display: block;  /*show the footer*/
}

.flex-footer-menu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    padding: 2vh 5vw;
    text-align: center;
}

.footer-friend{
    display: flex;
    flex-direction: column;
}

.footer-friend span{
    font-size: larger;
}

.footer-friend a{
    color: #fff;
    margin: 3px;
    text-decoration:none;
}

.footer-friend a:hover{
    color: #ebd257;
}

.footer-community{
    display: flex;
    flex-direction: column;
}

.footer-community span{
    font-size: larger;
    margin: 4px;
}

.footer-community a{
    color: #fff;
    margin: 6px 0px;
    text-decoration:none;
}

.footer-community a:hover{
    color: #ebd257;
}

.footer-about{
    display: flex;
    flex-direction: column;
}

.footer-about span{
    font-size: larger;
    margin: 4px;
}

.footer-about a{
    color: #fff;
    margin: 6px 0px;
    text-decoration:none;
}

.footer-about a:hover{
    color: #ebd257;
}

.main-container{
    width: 100vw;  /*set the width to full screen*/
}

/* Desktop:These rules are only applied if the screen is wider than 768px */
@media only screen and (min-width: 768px) {
    .flex-header-menu{
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        padding: 2vh 5vw;
    }

    .header-name{
        display: grid;
        grid-template-columns: 1fr auto auto;
        align-items: center;
    }

    .header-links{
        display: grid;
        grid-template-columns: auto;
        justify-self:end;
    }

    .nav-link-logo{
        width: 50px;
        height: 50px;
        margin: 10px 0px;
    }

    .header-name a, .header-links a{
        padding: 0 10px;
        white-space: nowrap; /*prevents spaces between words causing a link break */
    }

    .header-name a, .header-links a:hover{
        border-bottom: 1px solid;
    }

    .flex-side-menu{
        display: none;  /*hide the side menu*/
    }

    .flex-footer-menu{
        display: none;  /*hide the footer*/
    }

    .main-container{
        width: 75vw;
    }

    .col-lg-1 { grid-column: span 1; }
    .col-lg-2 { grid-column: span 2; }
    .col-lg-3 { grid-column: span 3; }
    .col-lg-4 { grid-column: span 4; }
    .col-lg-5 { grid-column: span 5; }
    .col-lg-6 { grid-column: span 6; }
    .col-lg-7 { grid-column: span 7; }
    .col-lg-8 { grid-column: span 8; }
    .col-lg-9 { grid-column: span 9; }
    .col-lg-10 { grid-column: span 10; }
    .col-lg-11 { grid-column: span 11; }
    .col-lg-12 { grid-column: span 12; }
}
/* Desktop: These rules are only applied if the screen is wider than 1194px */
@media only screen and (min-width: 1195px){
    .flex-header-menu{
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        padding: 2vh 5vw;
    }

    .header-name{
        display: grid;
        grid-template-columns: 1fr auto auto;
        align-items: center;
    }

    .header-links{
        display: grid;
        grid-template-columns: auto;
        justify-self:end;
    }

    .nav-link-logo{
        width: 50px;
        height: 50px;
        margin: 10px 0px;
    }

    .header-name a, .header-links a{
        padding: 0 10px;
        white-space: nowrap; /*prevents spaces between words causing a link break */
    }

    .header-name a, .header-links a:hover{
        border-bottom: 1px solid var(--lightgrey);
    }

    .flex-side-menu{
        display: none;
    }

    .flex-footer-menu{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: center;
        padding: 2vh 5vw;
        text-align: center;
    }

    .footer-friend{
        display: flex;
        flex-direction: column;
    }

    .footer-friend span{
        font-size: larger;
    }

    .footer-friend a{
        color: #fff;
        margin: 3px;
        text-decoration:none;
    }

    .footer-friend a:hover{
        color: #ebd257;
    }

    .footer-community{
        display: flex;
        flex-direction: column;
    }

    .footer-community span{
        font-size: larger;
        margin: 4px;
    }

    .footer-community a{
        color: #fff;
        margin: 6px 0px;
        text-decoration:none;
    }

    .footer-community a:hover{
        color: #ebd257;
    }

    .footer-about{
        display: flex;
        flex-direction: column;
    }

    .footer-about span{
        font-size: larger;
        margin: 4px;
    }

    .footer-about a{
        color: #fff;
        margin: 6px 0px;
        text-decoration:none;
    }

    .footer-about a:hover{
        color: #ebd257;
    }

    .main-container-menu{
        width: 75vw;
    }

}
/* responsive grid for .main-content */
.grid-row{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-auto-rows: minmax(10vh, auto);
    gap: 16px;
    margin: 2vh 2vw;

    /*width of items in our grid-row */
    .col-1 { grid-column: span 1; }
    .col-2 { grid-column: span 2; }
    .col-3 { grid-column: span 3; }
    .col-4 { grid-column: span 4; }
    .col-5 { grid-column: span 5; }
    .col-6 { grid-column: span 6; }
    .col-7 { grid-column: span 7; }
    .col-8 { grid-column: span 8; }
    .col-9 { grid-column: span 9; }
    .col-10 { grid-column: span 10; }
    .col-11 { grid-column: span 11; }
    .col-12 { grid-column: span 12; }
}


/*Tablet and phones in landscape*/
@media only screen and (min-width: 601px) and (max-width: 1194px) {
    .flex-container{
        flex-direction: row;
    }

    .flex-header-menu{
        display: none; /*show the header*/
    }

    .flex-side-menu{
        display: grid;
        background-color: #542e71;
        color: #fff;
        grid-auto-rows: min-content;
        justify-items: center;
        align-items: start;
        gap: 3vh;
        text-align: center;
    }

    .flex-side-menu span{
        display: block;
    }

    .flex-footer-menu{
        display: none; /*hide the footer*/
    }

    .nav-link-logo{
        width: 30px;
        height: 30px;
        margin: 5px 0px;
    }

    .col-md-1 { grid-column: span 1; }
    .col-md-2 { grid-column: span 2; }
    .col-md-3 { grid-column: span 3; }
    .col-md-4 { grid-column: span 4; }
    .col-md-5 { grid-column: span 5; }
    .col-md-6 { grid-column: span 6; }
    .col-md-7 { grid-column: span 7; }
    .col-md-8 { grid-column: span 8; }
    .col-md-9 { grid-column: span 9; }
    .col-md-10 { grid-column: span 10; }
    .ccol-md-11 { grid-column: span 11; }
    .col-md-12 { grid-column: span 12; }
}

/* flexbox layout for overall page */
.flex-container{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

.flex-header-menu, .flex-footer-menu, .flex-side-menu {
    flex-shrink: 0;
    font-family: 'Young Serif', serif;
    background-color: #542e71;
    color: #fff;
    padding: 0px 4px 0px 4px;
}

.header-links {
    display: flex;
    align-items: center;
    padding: 0px 10px;
    margin: 10px;
}

.language-current {
    display: flex;
    justify-content: center;
    text-align: center;
}

.language-dropdown {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-right: 10px;
    justify-content: center;
}

.selected-language {
    display: inline-block;
    cursor: pointer;
}

.language-list {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    list-style: none;
    padding-top: 1%;
    margin-top: 20px;

}

.language-list-item {
    display: grid;
    grid-template-columns: auto 1fr;
    padding-top:5px;
    margin-top:5px;
}

.language-list-item label {
    color: black;
}

.language-item-image {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.chatwith {
    font-family: 'Young Serif', serif;
    display: flex;
    height: 80px;
    justify-content: center;
    border-color: #b3cbb9;
    margin-top: -10px;
}

.container {
    display: flex;
    min-height: 250px;
    justify-content: center;
    margin: 30px
}

.contact-option-grid {
    border-radius: 20px;
    text-align: center;
    border: 2px solid slategray;
    padding: 20px;
    margin: 15px;
}

.pic {
    padding-bottom: 10px;
}