/* base styles */
html, body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, 'Noto Sans' ,sans-serif;
}

.nav-link{
    color: #fff; 
    text-decoration: none; 
    font-weight: bold;
}

/* Mobile-first: These rules apply by default */
.flex-header-menu{
    display: none;  /*hide the header*/
}

.flex-side-menu{
    display: none;  /*hide the side menu*/
}

.flex-footer-menu{
    display: block;  /*show the footer*/
}

.flex-footer-menu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    padding: 2vh 5vw;
    text-align: center;
}

.footer-friend{
    display: flex;
    flex-direction: column;
}

.footer-friend span{
    font-size: larger;
}

.footer-friend a{
    display: none;
}

.footer-friend span:hover{
    color: #ebd257;
}

.footer-community{
    display: flex;
    flex-direction: column;
}

.footer-community span{
    font-size: larger;
    margin: 4px;
}

.footer-community a{
    display: none;
}

.footer-community span:hover{
    color: #ebd257;
}

.footer-about{
    display: flex;
    flex-direction: column;
}

.footer-about span{
    font-size: larger;
    margin: 4px;
}

.footer-about a{
    display: none;
}

.footer-about span:hover{
    color: #ebd257;
}

.main-container{
    width: 100vw;  /*set the width to full screen*/
}


/* responsive grid for .main-content */
.grid-row{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-auto-rows: minmax(10vh, auto);
    gap: 16px;
    margin: 2vh 2vw;

    /*width of items in our grid-row */
    .col-1 { grid-column: span 1; }
    .col-2 { grid-column: span 2; }
    .col-3 { grid-column: span 3; }
    .col-4 { grid-column: span 4; }
    .col-5 { grid-column: span 5; }
    .col-6 { grid-column: span 6; }
    .col-7 { grid-column: span 7; }
    .col-8 { grid-column: span 8; }
    .col-9 { grid-column: span 9; }
    .col-10 { grid-column: span 10; }
    .col-11 { grid-column: span 11; }
    .col-12 { grid-column: span 12; }
}


/* flexbox layout for overall page */
.flex-container{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

.flex-header-menu, .flex-footer-menu, .flex-side-menu {
    flex-shrink: 0;
    font-family: 'Young Serif', serif;
    background-color: #542e71;
    color: #fff;
    padding: 0px 2px 0px 2px;
}

.header-links {
    display: flex;
    align-items: center;
    padding: 0px 5px;
    margin: 20px;
    justify-content: space-between;
}

.language-current {
    display: flex;
    justify-content: center;
    text-align: center;
}

.language-dropdown {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-right: -5px;
    justify-content: center;
}

.selected-language {
    display: inline-block;
    cursor: pointer;
}

.language-list {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    list-style: none;
    padding-top: 1%;
    margin-top: 20px;

}

.language-list-item {
    display: grid;
    grid-template-columns: auto 1fr;
    padding-top:5px;
    margin-top:5px;
}

.language-list-item label {
    color: black;
}

.language-item-image {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.banner{
    width: 100vw;
    height: 40vh; 
    background-image: url("https://www.gostudy.com.au/wp-content/uploads/2018/10/brisbane-header-2.jpg");
    margin-top: -10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 10vh;
    background-size: cover;
    background-position: center center;
}

.text-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropmenu_grid{
    padding-right: 20px;
    padding-left: 20px;
    margin-right:auto;
    margin-left: auto;
    width: 70vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selector{
    display: flex;
    justify-content: center;
    column-gap: 3rem;
    width: 30%;
}

.lang-menu{
    width: 50%;
}

select {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    border: 1px solid #ccc;
    border-radius: 150px;
    padding: 5px;
}

#infos-grid {
    display: flex;
    justify-content: center;
    margin: 10px 0 40px 0
}

.info-personal-lang {
    /*display: flex;*/
    padding-bottom: 30px;
}

.info-personal-lang-detail {
    display: flex;
    padding: 25px 0 -10px 0;
    margin-top: 15px;
}

.info-personal-lang-country {
    display: flex;
    margin-right: 10px;
    padding-right: 10px;
}

.info-personal-lang-country-image {
    width: 35px;
    height: 35px;
    border-radius: 30px;

}

.info-personal-detail-name-and-location {
    display: flex;
    width: 100px;
}

.info-personal-detail-community {
    display: flex;
    justify-content: space-evenly;
    padding: 0px 20px;
}

.info-grid {
    display: flex;
    width: 50%;
    min-height: 300px;
    border: 2px solid black;
}

.info-detail-col {
    padding: 15px;
    margin: 15px;
}

.info-personal-image {
    width: 100px;
    height: 100px;
    border-radius: 30px;
    padding-bottom: 30px;
}

.community-image {
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

.info-personal-chat {
    float: right;
}

.info-personal-detail {
    width: 500px;
}

.info-personal-detail-name {
    padding-right: 100px;
    font-size: 40px;
}

.info-personal-detail input {
    width: 90%;
}

/*Tablet and phones in landscape*/
@media only screen and (min-width: 601px) and (max-width: 1194px) {
    .flex-container{
        flex-direction: row;
    }
    
    .flex-header-menu{
        display: none; /*hide the header*/
    }
    
    .flex-side-menu{
        display: grid;  
        grid-auto-rows: min-content;
        justify-items: center;
        align-items: start;
        gap: 6vh;
    }

    .flex-side-menu span{
        display: block;
    }

    .nav-link-logo {
        width: 10vw;
        height: auto;
    }

    .flex-footer-menu{
        display: none; /*hide the footer*/
    }

    .col-md-1 { grid-column: span 1; }
    .col-md-2 { grid-column: span 2; }
    .col-md-3 { grid-column: span 3; }
    .col-md-4 { grid-column: span 4; }
    .col-md-5 { grid-column: span 5; }
    .col-md-6 { grid-column: span 6; }
    .col-md-7 { grid-column: span 7; }
    .col-md-8 { grid-column: span 8; }
    .col-md-9 { grid-column: span 9; }
    .col-md-10 { grid-column: span 10; }
    .ccol-md-11 { grid-column: span 11; }
    .col-md-12 { grid-column: span 12; }
}

/* Desktop:These rules are only applied if the screen is wider than 768px */
@media only screen and (max-width: 600px) {
    

    .header-name{
        display: grid;
        grid-template-columns: 1fr auto auto;
        align-items: center;
    }

    .header-links{
        display: grid;
        grid-template-columns: auto;
        justify-self:end;
    }

    .header-name a, .header-links a{
        padding: 0 20px;
        white-space: nowrap; /*prevents spaces between words causing a link break*/
    }

    .header-name a, .header-links a:hover{
        color: #ebd257;
    }
    
} 

/* Desktop: These rules are only applied if the screen is wider than 1194px */
@media only screen and (min-width: 1195px){
    .flex-header-menu{ 
        display: grid; 
        grid-template-columns: auto 1fr;
        align-items: center;
        /* padding: 2vh 5vw; */
    }

    .header-name{
        display: grid;
        grid-template-columns: 1fr auto auto;
        align-items: center;
    }

    .header-links{
        display: grid;
        grid-template-columns: auto;
        justify-self:end;
    }

    .nav-link-logo{
        width: 50px;
        height: 50px;
        margin: 15px 15px !important;
    }

    .header-name a, .header-links a{
        padding: 0 10px;
        white-space: nowrap; /*prevents spaces between words causing a link break */
    }

    .header-name a, .header-links a:hover{
        border-bottom: 1px solid var(--lightgrey);
    }

    .flex-side-menu{
        display: none;
    }

    .flex-footer-menu{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: center;
        padding: 2vh 5vw;
        text-align: center;
    }
    
    .footer-friend{
        display: flex;
        flex-direction: column;
    }
    
    .footer-friend span{
        font-size: larger;
    }
    
    .footer-friend a{
        display: inline;
        color: #fff;
        margin: 3px;
        text-decoration:none;
    }
    
    .footer-friend a:hover{
        color: #ebd257;
    }
    
    .footer-community{
        display: flex;
        flex-direction: column;
    }
    
    .footer-community span{
        font-size: larger;
        margin: 4px;
    }
    
    .footer-community a{
        display: inline;
        color: #fff;
        margin: 6px 0px;
        text-decoration:none;
    }
    
    .footer-community a:hover{
        color: #ebd257;
    }
    
    .footer-about{
        display: flex;
        flex-direction: column;
    }
    
    .footer-about span{
        font-size: larger;
        margin: 4px;
    }
    
    .footer-about a{
        display: inline;
        color: #fff;
        margin: 6px 0px;
        text-decoration:none;
    }
    
    .footer-about a:hover{
        color: #ebd257;
    }    

    .main-container-menu{
        width: 75vw;
    }

    .banner{
        height: 50vh !important; 
        background-position-y: -40vh !important;
    }

    .col-lg-1 { grid-column: span 1; }
    .col-lg-2 { grid-column: span 2; }
    .col-lg-3 { grid-column: span 3; }
    .col-lg-4 { grid-column: span 4; }
    .col-lg-5 { grid-column: span 5; }
    .col-lg-6 { grid-column: span 6; }
    .col-lg-7 { grid-column: span 7; }
    .col-lg-8 { grid-column: span 8; }
    .col-lg-9 { grid-column: span 9; }
    .col-lg-10 { grid-column: span 10; }
    .col-lg-11 { grid-column: span 11; }
    .col-lg-12 { grid-column: span 12; }

}
