@media (max-width: 768px) {
}

.chatwith {
    background-color: #b3cbb9;
    font-family: 'Young Serif', serif;
    display: flex;
    height: 80px;
    justify-content: center;
    border-color: #b3cbb9;
    margin-top: -10px;
    padding: 10px;
}

.community {
    background-color: #ffffff;
    font-family: 'Young Serif', serif;
    font-size: 40px;
    display: flex;
    height: auto;
    justify-content: center;
    position: relative;
}

.worldwide {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.imgfriends {
    height: 40%;
    width: 40%;
    z-index: -1;
}

h1 {
    font-size: 40px;
}

.nation-flag {
    display: flex;
    height: 300px;
    width: 100%;
    align-items: center;
    flex-direction: column;
    background-color: #b3cbb9;
}

.flags {
    height: auto;
    width: 35%;
}

.practice {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Young Serif', serif;
    background-color: #b3cbb9;
    height: 60px;
}

.searchbox {
    background-color: #ffffff;
    width: 15%;
    height: 50px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    margin-top: 6px;
}

input {
    width: 70%;
    border: none;
    outline: none;
    background: none;
    font-size: 16px;
    padding: 0px 5px;
}

.search-icon:hover {
    color: orange;
    cursor: pointer;
}

.search-icon {
    width: 25px;
    height: 25px;
    background-image: url(https://cdn-icons-png.flaticon.com/512/175/175283.png);
}

.community-enter-row {
    display: flex;
    padding: 40px;
    margin: 20px;
    justify-content: center;
}

.community-enter-info {
    padding: 10px;
    margin: 10px;
}

.community-enter-info-image {
    height: 120px;
    width: 120px;
    border-radius: 80%;
    padding-bottom: 10px;
}

.community-enter-info-title{
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.community-enter-row-1 {
    display: flex;
    justify-content: center;
    padding: 0px 20px;
    margin: 0px;
}

.community-enter-info-image-1{
    height: 120px;
    width: 120px;
    border-radius: 80%;
    padding-bottom: 10px;
}

.community-enter-info-1 {
    padding: 0px 10px;
    margin: 10px;
}

.community-enter-info-title-1{
    display: flex;
    justify-content: center;
    font-weight: bold;
}




