/* base styles */

h1{
    color: var(--bloodred);
}

/* Mobile-first: These rules apply by default */
.flex-header-menu{
    display: none;  /*hide the header*/
}

.flex-side-menu{
    display: none;  /*hide the side menu*/
}

.flex-footer-menu{
    display: block;  /*show the footer*/
}

.main-container{
    width: 100vw;  /*set the width to full screen*/
}

/*desktop: these rules are only applied if the screen is wider than 1194px */
@media only screen and (min-width: 1195px) {
    .flex-header-menu{
        display: grid; /*show the header*/
        grid-template-columns: auto 1fr;
        align-items: center;
        padding: 2vh 5vw;
    }

    .header-name{
        text-align: left;
    }

    .header-links{
        justify-self:end;
    }

    .nav-link-logo{
        width: 50px;
        height: 50px;
        margin: 10px 0px;
    }

    .header-name a, .header-links a{
        padding: 0 10px;
        color: var(--lightgrey);
        white-space: nowrap; /*prevents spaces between words causing a link break */
    }

    .header-name a, .header-links a:hover{
        border-bottom: 1px solid var(--lightgrey);
    }
    
    .flex-side-menu{
        display: none;  /*hide the side menu*/
    }

    .flex-footer-menu{
        display: none; /*hide the footer*/
    }

    .main-container{
        width: 75vw;
    }
}

/*Tablet and phones in landscape*/
@media only screen and (min-width: 601px) and (max-width: 1194px) {
    .flex-container{
        flex-direction: row;
    }
    
    .flex-header-menu{
        display: none; /*show the header*/
    }
    
    .flex-side-menu{
        display: grid;  /*hide the side menu*/
        grid-auto-rows: min-content;
        justify-items: center;
        align-items: start;
        gap: 3vh;
        text-align:center;
    }

    .flex-footer-menu{
        display: none; /*hide the footer*/
    }
}

/* flexbox layout for overall page */
.flex-container{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

.flex-header-menu, .flex-footer-menu, .flex-side-menu{
    flex-shrink: 0;
    background-color: #542e71;
    color: #fff;
    padding: 0px 4px 0px 4px;
}

.nav-link{
    color: #fff; 
    text-decoration: none; 
    font-weight: bold;
}

.flex-footer-menu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    padding: 2vh 5vw;
    text-align: center;
}
