/* base styles */

h1{
    color: var(--bloodred);
}

/* Mobile-first: These rules apply by default */
.flex-header-menu{
    display: none;  /*hide the header*/
}

.flex-side-menu{
    display: none;  /*hide the side menu*/
}

.flex-footer-menu{
    display: block;  /*show the footer*/
}

.flex-footer-menu ul {
    display: none;
}

.main-container{
    width: 100vw;  /*set the width to full screen*/
}

.nav-link-logo{
    width: 50px;
    height: 50px;
    margin: 10px 0px;
}

/*desktop: these rules are only applied if the screen is wider than 1194px */
@media only screen and (min-width: 1194px) {
    .flex-header-menu{
        display: grid; 
        grid-template-columns: auto 1fr;
        align-items: center;
        padding: 2vh 5vw;
    }

    .header-name{
        display: grid;
        grid-template-columns: 1fr auto auto;
        align-items: center;
    }

    .header-links{
        display: grid;
        grid-template-columns: auto;
        justify-self:end;
    }

    .nav-link-logo{
        width: 50px;
        height: 50px;
        margin: 10px 0px;
    }

    .header-name a, .header-links a{
        padding: 0 10px;
        color: var(--lightgrey);
        white-space: nowrap; /*prevents spaces between words causing a link break */
    }

    .header-name a, .header-links a:hover{
        border-bottom: 1px solid var(--lightgrey);
    }
    
    .flex-side-menu{
        display: none;  /*hide the side menu*/
    }

    .flex-footer-menu{
        display: none; /*hide the footer*/
    }


    .flex-footer-menu ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .flex-footer-menu ul li {
        display: flex;
        align-items: center;
    }

    .main-container{
        width: 75vw;
    }
}

/*Tablet and phones in landscape*/
@media only screen and (min-width: 601px) and (max-width: 1194px) {
    .flex-container{
        flex-direction: row;
    }
    
    .flex-header-menu{
        display: none; /*show the header*/
    }
    
    .flex-side-menu{
        display: grid;  /*hide the side menu*/
        grid-auto-rows: min-content;
        justify-items: center;
        align-items: start;
        gap: 3vh;
        text-align:center;
    }

    .flex-footer-menu{
        display: none; /*hide the footer*/
    }

    .nav-link-logo{
        width: 30px;
        height: 30px;
        margin: 5px 0px;
    }
}

/* flexbox layout for overall page */
.flex-container{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

.flex-header-menu, .flex-footer-menu, .flex-side-menu{
    flex-shrink: 0;
    background-color: #542e71;
    color: #fff;
    padding: 0px 4px 0px 4px;
}

.nav-link{
    color: #fff; 
    text-decoration: none; 
    font-weight: bold;
}

.flex-footer-menu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    padding: 2vh 5vw;
    text-align: center;
}

.header-links {
    display: flex;
    align-items: center;
}

.language-current {
    display: flex;
    justify-content: center;
    text-align: center;
}

.language-current {
    display: flex;
    justify-content: center;
    text-align: center;
}

.language-dropdown {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-right: 10px;
    justify-content: center;
}

.selected-language {
    display: inline-block;
    cursor: pointer;
}

.language-list {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    list-style: none;
    padding-top: 1%;
    margin-top: 20px;

}

.language-list-item {
    display: grid;
    grid-template-columns: auto 1fr;
    padding-top:5px;
    margin-top:5px;
}

.language-list-item label {
    color: black;
}

.language-item-image {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.board-grid {
    width: 150px;
    height: 40px;
}

.board-grid {
    text-align: left;
    border: none;
    margin: 30px 5px;
    height: 50px;
}

.board-wineimg{
    width:20px;
    height:20px;
    padding: 2px;
}

.board-gameimg{
    width:20px;
    height:20px;
    padding: 2px;
}

.board-bakeimg{
    width:20px;
    height:20px;
    padding: 2px;
}

.board-tennisimg{
    width:20px;
    height:20px;
    padding: 2px;
}

.board-wine{
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.language-list img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.flex-footer-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.flex-footer-menu ul li {
    display: flex;
    align-items: center;
}
