body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #542e71;
    color: #f2f2f2;
    width: 100%;
}

body nav {
    display: flex;
}

.header-container-grid-item a {
    text-decoration: none;
    color: #f2f2f2;
    font-size: 24px;
    border: 3px;
    white-space: nowrap;
}


/* Web Client */
@media only screen and (min-width: 1194px) {

    .header-container {
        display: flex;
        width: 95%;
    }

    .header-container-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    #header-container-grid-left {
        padding-right: 40%;
    }

    #header-container-grid-right {
        padding: 0 40px 0 40%;
    }

    .header-container-grid-item {
        padding: 20px;
        text-align: center;
    }

    .header-logo {
        height: 60px;
        width: 60px;
        padding: 30px;
    }

}

/* iPad Client */
@media only screen and (min-width: 601px) {

    .header-container {
        display: flex;
        width: 95%;
    }

    .header-container-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    #header-container-grid-left {
        padding-right: 40%;
    }

    #header-container-grid-right {
        padding: 0 40px 0 40%;
    }

    .header-container-grid-item {
        padding: 20px;
        text-align: center;
    }

    .header-logo {
        height: 50px;
        width: 50px;
        padding: 30px;
    }

}


/* Phone Client */
@media only screen and (max-width: 600px) {

    .header-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr auto ;
        align-items: center;
        gap: 10px;
        margin: 5px;
    }

    .header-container-grid {
        display: none;
    }

    .header-container-logo {
        display: none;
    }

}


