/* base styles */
html, body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, 'Noto Sans' ,sans-serif;
}

.nav-link{
    color: #fff; 
    text-decoration: none; 
    font-weight: bold;
}

/* Mobile-first: These rules apply by default */
.flex-header-menu{
    display: none;  /*hide the header*/
}

.flex-side-menu{
    display: none;  /*hide the side menu*/
}

.flex-footer-menu{
    display: block;  /*show the footer*/
}

.flex-footer-menu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    padding: 2vh 5vw;
    text-align: center;
}

.footer-friend,
.footer-community,
.footer-about{
    display: flex;
    flex-direction: column;
}

.footer-friend span,
.footer-community span,
.footer-about span{
    font-size: larger;
    font-weight: 600;
}

.footer-friend a,
.footer-community a,
.footer-about a{
    color: #fff;
    text-decoration: none;
}

.footer-friend > a,
.footer-community > a,
.footer-about > a{
    display: none;
}

.footer-friend span:hover,
.footer-community span:hover,
.footer-about span:hover{
    color: #ebd257;
    text-decoration: none;
}

.main-container{
    width: 100vw;  /*set the width to full screen*/
}


/* responsive grid for .main-content */
.grid-row{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-auto-rows: minmax(10vh, auto);
    gap: 16px;
    margin: 2vh 2vw;

    /*width of items in our grid-row */
    .col-1 { grid-column: span 1; }
    .col-2 { grid-column: span 2; }
    .col-3 { grid-column: span 3; }
    .col-4 { grid-column: span 4; }
    .col-5 { grid-column: span 5; }
    .col-6 { grid-column: span 6; }
    .col-7 { grid-column: span 7; }
    .col-8 { grid-column: span 8; }
    .col-9 { grid-column: span 9; }
    .col-10 { grid-column: span 10; }
    .col-11 { grid-column: span 11; }
    .col-12 { grid-column: span 12; }
}


/* flexbox layout for overall page */
.flex-container{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

.flex-header-menu, .flex-footer-menu, .flex-side-menu {
    flex-shrink: 0;
    font-family: 'Noto Sans';
    background-color: #542e71;
    color: #fff;
    padding: 0px 2px 0px 2px;
}

.flex-header-menu {
    font-weight: bold;
}

.header-links {
    display: flex;
    align-items: center;
    padding: 0px 5px;
    margin: 20px;
    justify-content: space-between;
}

.language-current {
    display: flex;
    justify-content: center;
    text-align: center;
}

.language-dropdown {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-right: -5px;
    justify-content: center;
}

.selected-language {
    display: inline-block;
    cursor: pointer;
}

.language-list {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    list-style: none;
    padding-top: 1%;
    margin-top: 20px;

}

.language-list-item {
    display: grid;
    grid-template-columns: auto 1fr;
    padding-top:5px;
    margin-top:5px;
}

.language-list-item label {
    color: black;
}

.language-item-image {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.chatroom-main {
    width: 100%;
    height: calc(100% - 80px);
    margin-top: -10px;
}

.chatroom-container {
    height: calc(100% - 200px);
    display: grid;
    grid-template-columns: auto 1fr;
}

.chatroom-container-receipt {
    width: 350px;
    padding: 0 0 20px 10px;
}

.chatroom-container-message-box {
    border: 3px solid black;
    border-radius: 15px;
    padding: 15px;
    margin: 40px 25px 20px 10px;
}

.chatroom-container-receipt-header {
    text-align: center;
    margin: 15px;
    font-size: 50px;
    padding: 20px;
}

.chatroom-container-receipt-info {
    display: flex;
    border: 2px solid black;
    border-radius: 30px;
    margin: 5px 15px 10px 15px;
    padding: 2px 0 2px 5px;
}

.chatroom-container-receipt-info-image {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    border-radius: 150px;
}

.chatroom-container-receipt-info label {
    font-size: 24px;
    margin: 10px 0 5px 15px;

}

.chatroom-container-message-box-input{
    display: grid;
    grid-template-columns: auto 1fr auto;
    justify-content: center;
    align-items: center;
}

.chatroom-container-message-box-input-icon {
    height: 50px;
    width: 50px;
    margin: 15px;
}

.chatroom-container-message-box-input-input {
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    width: calc(100% - 80px)
}

.chatroom-container-message-me {
    float: right;
}

.chatroom-container-message-box-content-detail-image {
    height: 40px;
    width: 40px;
    margin: 10px;
    padding: 5px;
    border-radius: 150px;
}

/*Tablet and phones in landscape*/
@media only screen and (min-width: 601px) and (max-width: 1194px) {
    .flex-container{
        flex-direction: row;
    }
    
    .flex-header-menu{
        display: none; /*hide the header*/
    }
    
    .flex-side-menu{
        display: grid;  
        grid-auto-rows: min-content;
        justify-items: center;
        align-items: start;
        gap: 6vh;
    }

    .flex-side-menu span{
        display: block;
    }

    .nav-link-logo {
        width: 10vw;
        height: auto;
    }

    .flex-footer-menu{
        display: none; /*hide the footer*/
    }

    .col-md-1 { grid-column: span 1; }
    .col-md-2 { grid-column: span 2; }
    .col-md-3 { grid-column: span 3; }
    .col-md-4 { grid-column: span 4; }
    .col-md-5 { grid-column: span 5; }
    .col-md-6 { grid-column: span 6; }
    .col-md-7 { grid-column: span 7; }
    .col-md-8 { grid-column: span 8; }
    .col-md-9 { grid-column: span 9; }
    .col-md-10 { grid-column: span 10; }
    .ccol-md-11 { grid-column: span 11; }
    .col-md-12 { grid-column: span 12; }
}

/* Desktop:These rules are only applied if the screen is wider than 768px */
@media only screen and (max-width: 600px) {
    

    .header-name{
        display: grid;
        grid-template-columns: 1fr auto auto;
        align-items: center;
    }

    .header-links{
        display: grid;
        grid-template-columns: auto;
        justify-self:end;
    }

    .header-name a, .header-links a{
        padding: 0 20px;
        white-space: nowrap; /*prevents spaces between words causing a link break*/
    }

    .header-name a, .header-links a:hover{
        color: #ebd257;
    }
    
} 

/* Desktop: These rules are only applied if the screen is wider than 1194px */
@media only screen and (min-width: 1195px){
    .flex-header-menu{ 
        display: grid; 
        grid-template-columns: auto 1fr;
        align-items: center;
        /* padding: 2vh 5vw; */
    }

    .header-name{
        display: grid;
        grid-template-columns: 1fr auto auto;
        align-items: center;
    }

    .header-links{
        display: grid;
        grid-template-columns: auto;
        justify-self:end;
    }

    .nav-link-logo{
        width: 50px;
        height: 50px;
        margin: 20px 15px;
    }

    .header-name a, .header-links a{
        padding: 0 10px;
        white-space: nowrap; /*prevents spaces between words causing a link break */
    }

    .header-name a, .header-links a:hover{
        border-bottom: 1px solid var(--lightgrey);
    }

    .flex-side-menu{
        display: none;
    }

    .flex-footer-menu{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: center;
        padding: 2vh 5vw;
        text-align: center;
    }
    
    .footer-friend{
        display: flex;
        flex-direction: column;
    }
    
    .footer-friend span{
        font-size: larger;
    }
    
    .footer-friend a{
        display: inline;
        color: #fff;
        margin: 3px;
        text-decoration:none;
    }
    
    .footer-friend a:hover{
        color: #ebd257;
    }
    
    .footer-community{
        display: flex;
        flex-direction: column;
    }
    
    .footer-community span{
        font-size: larger;
        margin: 4px;
    }
    
    .footer-community a{
        display: inline;
        color: #fff;
        margin: 6px 0px;
        text-decoration:none;
    }
    
    .footer-community a:hover{
        color: #ebd257;
    }
    
    .footer-about{
        display: flex;
        flex-direction: column;
    }
    
    .footer-about span{
        font-size: larger;
        margin: 4px;
    }
    
    .footer-about a{
        display: inline;
        color: #fff;
        margin: 6px 0px;
        text-decoration:none;
    }
    
    .footer-about a:hover{
        color: #ebd257;
    }    

    .main-container-menu{
        width: 75vw;
    }

    .col-lg-1 { grid-column: span 1; }
    .col-lg-2 { grid-column: span 2; }
    .col-lg-3 { grid-column: span 3; }
    .col-lg-4 { grid-column: span 4; }
    .col-lg-5 { grid-column: span 5; }
    .col-lg-6 { grid-column: span 6; }
    .col-lg-7 { grid-column: span 7; }
    .col-lg-8 { grid-column: span 8; }
    .col-lg-9 { grid-column: span 9; }
    .col-lg-10 { grid-column: span 10; }
    .col-lg-11 { grid-column: span 11; }
    .col-lg-12 { grid-column: span 12; }
}