<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="../css/footer.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../js/footer.js"></script>
</head>
<footer>
    <div id="friend-zone" class="footer-area">
        <label>Friend Zone</label>
        <ul>
            <li>London</li>
            <li>Toronto</li>
            <li>Hamberg</li>
            <li>Brisbane</li>
            <li>Sydney</li>
        </ul>
    </div>
    <div id="community" class="footer-area">
        <label>Community</label>
        <ul>
            <li>My Comunity</li>
            <li>Hot Topics</li>
            <li>All Topics</li>
        </ul>
    </div>
    <div id="information" class="footer-area">
        <label>Information</label>
        <ul>
            <li>FAQ</li>
            <li>About Us</li>
            <li id="information-contact-us">Contact Us</li>
        </ul>
    </div>
</footer>
</html>