<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Header</title>
	<link rel="stylesheet" href="../css/header.css">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="../js/header.js"></script>
</head>
<body>
	<nav>
		<div class="topnav-left">
			<img id="wwflogo" class="logo" src="../images/country/earth-globe_995153.png" alt="Home"/>
			<div id="find-friend-label"><label>Find Friends</label></div>
			<div id="community-label"><label>Community</label></div>
		</div>
		<div class="topnav-right">
			<div id="language-en" class="lang-menu">
				<img id="current-language-country-en" class="language-country"
				     src="../images/country/united-states-america_323310.png" alt="English"/>
				<label id="current-language-name-en">EN</label>
			</div>
			<div id="language-tw" class="lang-menu">
				<img id="current-language-country-tw" class="language-country"
				     src="../images/country/taiwan_5922010.png"
				     alt="Traditional Chinese"/>
				<label id="current-language-tw">TW</label>
			</div>
			<div id="language-jp" class="lang-menu">
				<img id="current-language-country-jp" class="language-country" src="../images/country/japan_323308.png"
				     alt="Japanese"/>
				<label id="current-language-name-jp">JP</label>
			</div>
			<div id="language-ar" class="lang-menu">
				<img id="current-language-country-ar" class="language-country"
				     src="../images/country/united-arab-emirates_323301.png" alt="Arabic"/>
				<label id="current-language-name-ar">AR</label>
			</div>
			<div><label>Login</label></div>
		</div>
	</nav>
</body>
</html>
